{% extends "layout.html" %}
{% block content %}
<img src="./static/lisa-hobbs-tea2.jpg" alt="logo">
<h1>Yummy!</h1><br><br><br>
    <div class="container"><br>
      <div class="row">
          <div class="col-4">
            <div class="card" style="width: 18rem;">
            <img src="./static/breakfast.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">breakfasts</h5>
                <a href="/breakfast" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
            <img src="./static/cookies.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cookies</h5>
                <a href="/cookie" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
            <img src="./static/desserts2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Desserts</h5>
                <a href="/desert" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
