{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <img src="./static/lisa-hobbs-tea2.jpg" alt="logo">
    <h1>Yummy Recipes!</h1>

  </div>
    <div class="row">
      <div class="col-12">
          <h3>Recipes:</h3>
          <ul>
            <li><p>Click <a href="/cookie">here</a> Cookies</p></li>
            <li><p>Click <a href="/desert">here</a> More Desserts</p></li>
            <li><p>Click <a href="/breakfast">here</a> Whats for Breakfast</p></li>
            <li><p>Click <a href="/all">here</a> View All Recipes</p></li>
          </ul>
      </div>
  </div><br><br><br>
{% endblock %}
